footer {
  height: 18rem;
  background: #353535;
  @include laptop {
    display: flex;
    align-items: center;
  }
  & ul {
    height: 5rem;
    margin-left: 2rem;
    @include laptop {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
    }
    & li {
      margin-bottom: 1rem;
    }

    & a {
      text-decoration: none;
      color: white;
      font-size: 1.5rem;
      font-weight: 500;
      font-family: "Roboto", sans-serif;
    }
  }
}
