header {
  background: white;
  @extend %flex-center;
  position: relative;
  & img {
    margin: 1.5rem;
  }
  & a {
    position: absolute;
    left: 3rem;
    font-size: 1.5rem;
    color: black;
    @include tablet {
      font-size: 2rem;
      @include desktop {
        font-size: 2.5rem;
      }
    }
  }
}
/*Header fixer sur les menu*/
.header--fix {
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
