body,
html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
}
a:focus {
  border: none;
  outline: none;
}

h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 2.5rem;
}
p {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
}

h2 {
  font-family: "Shrikhand", sans-serif;
  font-size: 2.8rem;
  margin-right: 10rem;
}

//Typo de Fonctionnement
.fonction h2 {
  position: absolute;
  top: 3rem;
  left: 2rem;
}

.fonction h3 {
  font-size: 1.7rem;
  color: black;
  font-weight: 600;
}
.fonction__icon {
  margin-right: 3rem;
  font-size: 1.8rem;
  color: grey;
  transition: all 1000ms;
}
.margin {
  margin-left: 2rem;
}

//Typo de Restaurant
.restaurant h3 {
  font-size: 1.9rem;
  font-weight: bold;
}
.restaurant p {
  font-size: 1.5rem;
  margin-top: 1rem;
}

//Typo du Footer

footer h2 {
  color: white;
  padding-top: 2rem;
  font-size: 1.7rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
  @include laptop {
    padding-top: 1.2rem;
  }
}
.footer-icon {
  padding-right: 1rem;
  &_marge {
    padding-right: 1.3rem;
    margin-left: 0.4rem;
  }
}

//Typo des cards menu
.card--plats__description h4 {
  font-size: 1.8rem;
  margin-top: 0.3rem;
  @extend %overflow;
  font-weight: 700;
}

.card--plats__description p {
  @extend %overflow;
  font-size: 1.5rem;
  margin-top: 0.5rem;
}
