body,
html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  background: $color-light-grey;
}

h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 2.5rem;
}
p {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
}
