/*Bouton Animé*/

.btn__anime {
  background: $color-btn-primary;
  border-radius: 5rem;
  padding: 1.2rem 2rem;
  font-size: 1.6rem;
  border: none;
  color: #fff;
  opacity: 1;
  transition: opacity 800ms, box-shadow 800ms;
  &:hover {
    opacity: 0.8;
    box-shadow: $shadow-secondary;
  }
}
/*Bouton du menu*/
.btn__menu {
  margin: 1rem 0rem 8rem 0rem;
  padding: 1.5rem 5rem;
  box-shadow: $shadow-primary;
}
