.intro--menu {
  width: 100%;
  height: 30rem;
  object-fit: cover;
  z-index: -1;
  position: fixed;
  top: 5rem;
  @include tablet {
    height: 40rem;
  }
}

/*Menu*/
.menu {
  @extend %flex-column;
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;
  background-color: $color-light-grey;
  margin-top: 24.5rem;
  z-index: 1;
  box-sizing: border-box;
  @include tablet {
    margin-top: 35rem;
  }
  @include laptop {
    margin-top: 40rem;
  }
  &--titre {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 2rem 0rem 2rem 0rem;
  }
  &--categorie {
    width: 90%;
    margin-bottom: 2rem;
    @include laptop {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }
  }
}

.menu--card {
  width: 90%;
  @extend %flex-column;
  @include laptop {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
}

.underline {
  margin-top: 0.5rem;
  width: 4.2rem;
  height: 0.3rem;
  background: $color-tertiary;
  margin-left: 0.2rem;
}

.menu .card--plats {
  margin: 2rem 0rem;
  height: 6.5rem;
  width: 100%;
  border-radius: 1.5rem;
  box-sizing: border-box;
  display: flex;
  box-shadow: $shadow-primary;
  background: white;
  overflow: hidden;
  @include laptop {
    width: 90%;
  }
  animation: loading-menu 3000ms both;
  @for $i from 1 through 5 {
    &:nth-child(#{$i}) {
      animation-delay: ($i * 0.2s);
    }
  }
  &:hover {
    cursor: pointer;

    & > .card--plats__cost {
      transform: translate(-6rem);
      margin-left: 6rem;
    }
    & > .card--plats__invisible {
      transform: translate(-6rem);
    }
    & > .card--plats__invisible .around {
      transition: all 500ms 250ms;
      transform: rotate(360deg);
    }
  }
}

.card--plats__description {
  padding-left: 1rem;
  @extend %overflow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.card--plats__cost {
  font-weight: bold;
  font-size: 1.4rem;
  margin-top: 2.8rem;
  padding: 0 1.5rem;
  transition: all 750ms ease-in-out;
}

.card--plats__invisible {
  @extend %flex-center;
  padding: 1.2rem 2rem;
  margin-right: -6rem;
  border-radius: 0rem 1.5rem 1.5rem 0rem;
  background: $color-tertiary;
  transition-duration: 900ms;
  & .around {
    font-size: 2rem;
    color: #fff;
  }
}
